.webdashboard-layout--three-columns {
  display: flex;
  gap: 1rem;
}

.webdashboard-layout--three-columns .webdashboard-layout__column {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  min-width: 0;
  gap: 1rem;
}

@media only screen and (max-width: 800px) {
  .webdashboard-layout--three-columns {
    flex-direction: column;
  }
}
